body {
    margin:0;
    background-color: lightcyan
}

header {
    background-color: lightgoldenrodyellow;
    padding: 30px;
    text-align: center;
}

h2 {
    background-color: lightpink;
    text-align: center;
    margin: 10px 200px;
}

p {
    text-align: center;
}